.service {
  padding: 73px 0;
}

.service__ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 24px;
  list-style: none;
  margin-top: 69px;
  margin-bottom: 95px;
}

.service__list {
  max-width: 292px;
}

.service__title {
  max-width: 265px;
  color: $text-color;
  font-size: 20px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.8px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.service__text {
  color: $text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.42px;
}

.service__tabs-box {
  display: flex;
  gap: 5px;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.service__tabs {
  padding: 18px 24px;
  border: none;
  background: $light;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.96px;
  cursor: pointer;
}

.service__tabs.active {
  background: #026d2a;
  color: $light;
}

.service__info {
  display: flex;
  margin-top: 15px;
}

.service__info-box {
  width: 100%;
  max-width: 819px;
  padding: 64px 50px 97px 50px;
  background: $light;
}

.service__info-text {
  max-width: 500px;
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
}

.service__link-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 28px;
  margin-top: 40px;
  max-width: 580px;
}

.service__link {
  max-width: 280px;
  color: $green;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}

.service__info-right {
  display: inline-flex;
  flex-direction: column;
  gap: 26px;
  padding: 56px 64px 76px 51px;
  background: $light;
  margin-left: 26px;
}

@media screen and (max-width: 900px) {
  .service__ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .service__ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .service__ul {
    grid-template-columns: 1fr;
  }

  .service__list {
    max-width: 100%;
  }

  .service__title {
    max-width: 100%;
    margin-top: 30px;
  }
}
