.header {
  padding: 25px 0;
  position: relative;
}

.header__box {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.no-scroll {
  overflow: hidden;
}

.header__logo {
  color: $text-color;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -0.72px;
  text-decoration: none;
}

.header__menu-box {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-left: 48px;
}

.header__ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.header__link {
  color: $text-color;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
  text-decoration: none;
  opacity: 0.6;
  &.active {
    opacity: 1;
  }
}

.header__right {
  display: inline-flex;
  align-items: center;
}

.header__right-icons {
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
  margin-right: 10px;
}

.header__action-box {
  margin-right: 22px;
}

.header__letter {
  color: $black-color;
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 2px;
}

.header__action {
  color: $black-color;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.36px;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 11px;
  }
}

.header__link-box {
  position: relative;
  top: 9px;
  text-align: right;
}

.header__phone {
  display: flex;
  padding: 6px 13px;
  justify-content: center;
  align-items: center;
  background: $green;
  gap: 5px;
  flex-shrink: 0;
  color: $light;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.header__email {
  position: relative;
  top: 6px;
  color: $primary;
  font-size: 12px;
  font-weight: 400;
}

.header__menu {
  display: none;
  height: 24px;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .header__nav {
    margin-left: 20px;
  }

  .header__ul {
    gap: 18px;
  }

  .header__link {
    font-size: 14px;
  }

  .header__action-box {
    margin-right: 15px;
  }
}

@media screen and (max-width: 900px) {
  .header__menu-box {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: #f8f5f0;
    align-items: start;
    padding: 0 32px;
    width: 100%;
    height: 0;
    transition: height 0.2s ease-in;
    z-index: 100;
    margin-top: 80px;
    overflow: hidden;
    &.active {
      height: 350px;
    }
  }

  .header__right {
    align-items: start;
    flex-direction: column;
    margin-top: 42px;
  }

  .header__nav {
    padding-top: 60px;
    margin-left: 0;
  }

  .header__ul {
    width: 280px;
    flex-wrap: wrap;
    gap: 24px 32px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__right-icons {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .header__action-box {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .header__link-box {
    text-align: left;
  }

  .header__menu {
    display: block;
    margin-left: auto;
  }
}
