@mixin position-styles {
  z-index: 100;
  -webkit-box-shadow: 0px 5px 39px 25px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 0px 5px 39px 25px rgba(34, 60, 80, 0.29);
  box-shadow: 0px 5px 39px 25px rgba(34, 60, 80, 0.29);
  background-color: $light;
  width: 100%;
  max-width: 178px;
  padding: 22px 0 20px 16px;
  height: 70px;
  clip-path: polygon(
    10% 0,
    19% 16%,
    100% 16%,
    100% 70%,
    100% 100%,
    50% 100%,
    0 100%,
    0% 70%,
    0 17%,
    7% 17%
  );
}
