.hero {
  padding: 40px 0;
}

.hero__modal-div {
  &.active {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #00000056;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    z-index: 20;
  }
}

.hero__modal {
  max-width: 242px;
  margin-left: auto;
  &.active {
    margin-top: 140px;
    margin-left: 0;
  }
}

.hero__modal-box {
  background: #fff;
  padding: 28px 24px;
  box-shadow: -20px 44px 74px 0px rgba(15, 81, 40, 0.19);
}

.hero__modal-title {
  color: #2c3639;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: -0.85px;
}

.hero__modal-text {
  color: #2c3639;
  font-size: 11px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 8px;
}

.hero__inp {
  width: 100%;
  padding: 12px 10px;
  background: rgba(44, 54, 57, 0.07);
  color: #2c3639;
  outline: none;
  border: none;
}

.hero__inp::placeholder {
  color: #2c3639;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.4;
}

.modal__contact-info {
  color: #2c3639;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.4;
  margin-top: 25px;
  margin-bottom: 4pxa;
}

.modal__contact-link {
  color: #2c3639;
  font-size: 11px;
  font-weight: 900;
  text-decoration: none;
  &:last-child {
    color: #0047ff;
    text-decoration-line: underline;
    font-weight: 400;
    margin-left: 14px;
  }
}

.modal__contact-btn {
  width: 100%;
  padding: 14px 0;
  background: #026d2a;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.45px;
}

.hero__btn {
  position: fixed;
  right: 20px;
  top: 120px;
  z-index: 10;
  width: 54px;
  height: 54px;
  color: #026d2a;
  background: #fff;
  border: none;
  filter: drop-shadow(5px 10px 24px rgba(25, 75, 44, 0.3));
  border-radius: 50%;
  font-size: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero__titile {
  margin-top: auto;
  max-width: 750px;
  color: $text-color;
  font-size: 50px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -2.8px;
}

.hero__flex {
  display: flex;
  margin-top: 40px;
}

.hero__box {
  width: 100%;
  max-width: 397px;
  background: #026d2a;
  padding: 34px 30px;
  &:nth-child(2) {
    margin-left: 20px;
    background: $text-color;
  }
}

.hero__text {
  display: block;
  max-width: 227px;
  color: $light;
  font-size: 22px;
  font-weight: 800;
  line-height: 26px;
}

.hero__link {
  display: inline-flex;
  color: $light;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.51px;
  text-decoration: none;
  opacity: 0.4;
  margin-top: 23px;
}

@media screen and (max-width: 530px) {
  .hero__flex {
    flex-direction: column;
  }

  .hero__box:nth-child(2) {
    margin-left: 0;
    margin-top: 16px;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    padding-top: 50px;
  }

  .hero__btn {
    display: flex;
  }

  .hero__modal-div {
    display: none;
  }

  .hero__titile {
    font-size: 30px;
    line-height: 37px;
    margin-top: 60px;
  }
}
